.box-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 10px;
    border: 5px solid #007575;
    padding: 10px;
}

.tag-btn {
    padding: 10px;
    background-color: #750074;
    font-size: 25px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 10px 10px #0000005b;
    transition: .3s;
}

.tag-btn:hover {
    background-color: #61015f;
}